body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefefe;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #efefef;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  height: 500px;
}

hr {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
}

#markdown-previewer-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.white-box {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 20px;
}

.white-box>h1:first-child {
  margin: 0px;
}

@media screen and (max-width: 900px) {
  #markdown-previewer-container {
    grid-template-columns: 1fr;
  }

}